.site-header {
  @extend %padding-small;
  background: $brand-color;
  border-bottom: 1px solid $border-color;
  display: inline-block;
  float: left;
  width: 100%;

  font-size: 1.1em;

  a {
    color: $header-link-color;
  }

  .avatar {
    height: 2em;
    width: 2em;
    float: left;
    margin-top: -3px;
    border-radius: 0.2em;
    margin-right: 0.5em;

    -webkit-transition: -webkit-transform 0.8s ease-in-out;
            transition:         transform 0.8s ease-in-out;
    &:hover {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }

  .site-title {
    float: left;
    font-weight: bold;
    font-size: 1em;
    line-height: 1.5;
  }

  display: flex;
  @media (min-width:  600px) {
    justify-content: space-between;
    .branding {
      flex-grow: 3;
    }
  }
  @media (max-width:  599px) {
    flex-wrap: wrap;
    justify-content: space-between;
    .branding, .external-links, .site-nav {
      padding-top: $padding-small / 2;
      padding-bottom: $padding-small / 2;
    }
    .branding {
      order: 1;
      min-width: 150px;
    }
    .external-links {
      order: 2;
      min-width: 200px;
    }
    .site-nav {
      min-width: 300px;
      order: 3;
      ul li {
        float: left;
      }
    }
    .site-nav, .external-links, ul, li {
      margin-left: 0.4em;
    }
  }

  .site-nav, .external-links {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      line-height: 1.5;
      text-align: right;
    }
    li {
      display: inline;
      margin-right: 0.4em;
    }
    @media (max-width: 1100px) {
      ul {
        display: inline-block;
        width: 100%;
      }
    }
  }
}
