# No OSX shit
.DS_Store

# Don't include complete site in git
_site

# Don't include cache for scss
.sass-cache

# Don't include npm packages in git
node_modules

# No bundler libraries to git
vendor

# Don't include fontawesome in git
fonts/*
!fonts/.gitkeep

# This is just the dist folder for webpack
js/app.js
js/analytics.js
!js/.gitkeep
