<small class="footnotes">
    <i class="fa fa-info-circle"></i>
    <strong>Info:</strong>
    {% if page.last_modified_at %}
    This post was last updated on:
    <time class="entry-modified modified" datetime="{{ page.last_modified_at | date: "%Y-%m-%dT%H:%M:%S%z" }}" itemprop="dateModified" title="{{ page.last_modified_at | date: "%A, %B %e, %Y" }}">{{ page.last_modified_at | date: "%B %-d, %Y" }}</time>.
    {% endif %}
    It
    {% if page.category %}
    is published in <span itemprop="articleSection">{{ page.category }}</span> category,
    {% endif%}
    contains
    <span itemprop="wordCount" >{{ page.content | markdownify | strip_html | number_of_words }}</span> words
    and takes about <span>{% include data/time-to-read.html %}</span> minutes to read.
    <meta itemprop="timeRequired" content="P{{ time_to_read_minutes | strip_newlines | replace:' ','' }}" />
    {% if page.feature-img %}
    <meta itemprop="image" content="{{ site.url }}{{ site.baseurl }}/{{ page.feature-img }}" />
    {% elsif site.data.technology[page.technology].image %}
    <meta itemprop="image" content="{{ site.url }}{{ site.baseurl }}/{{ site.data.technology[page.technology].image.src }}" />
    {% endif %}
    <meta itemprop="mainEntityOfPage" content="{{ page.url | prepend: site.baseurl | prepend: site.url }}" />
    <span>
        It was published by
        <span itemprop="publisher" itemscope="itemscope" itemtype="http://schema.org/Organization">
            <span itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
                <link itemprop="url" href="{{ site.data.organization.logo.url }}" />
                <meta itemprop="width" content="{{ site.data.organization.logo.width }}">
                <meta itemprop="height" content="{{ site.data.organization.logo.height }}">
            </span>
            <meta itemprop="email" content="{{ site.data.organization.email }}">
            <span itemprop="name">{{ site.data.organization.legal_name }}</span>.
        </span>
    </span>
</small>
