<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "BlogPosting",

    "headline": "{{ page.title }}",
    {% if page.feature-img %}
    "image": "{{ site.url }}{{ site.baseurl }}/{{ page.feature-img }}",
    {% elsif site.data.technology[page.technology].image %}
    "image":  {
        "@type": "ImageObject",
        "url": "{{ site.url }}{{ site.baseurl }}/{{ site.data.technology[page.technology].image.src }}",
        "caption": "{{ site.url }}{{ site.baseurl }}/{{ site.data.technology[page.technology].image.alt }}",
        "height": "{{ site.data.technology[page.technology].image.height }}",
        "width": "{{ site.data.technology[page.technology].image.width }}"
    },
    {% endif %}
    {% if page.genre %}
    "genre": "{{ page.genre }}",
    {% endif %}
    "keywords": "{{ page.tags | join: ',' }}",
    "wordcount": "{{ page.content | markdownify | strip_html | number_of_words }}",
    "publisher": {
        "@type": "Organization",
        "logo": {
            "@type": "ImageObject",
            "url": "{{ site.data.organization.logo.url }}",
            "width": "{{ site.data.organization.logo.width }}",
            "height": "{{ site.data.organization.logo.height }}"
        },
        "email": "{{ site.data.organization.email }}",
        "name": "{{ site.data.organization.legal_name }}"
    },
    "url": "{{ site.url }}{{ page.url }}",
    "mainEntityOfPage": "{{ site.url }}{{ page.url }}",
    "datePublished": "{{ page.date | date: '%Y-%m-%d' }}",
    "dateCreated": "{{ page.date | date: '%Y-%m-%d' }}",
    "dateModified": "{{ page.last_modified_at | date: '%Y-%m-%d' }}",
    "description": "{% include content/description %}",
    "articleBody": {{ page.content | strip_html | strip_newlines | jsonify }},
    "author": {
        "@type": "Person",
        "name": "{{ site.authors[page.author].name }}",
        "url": "{{ site.authors[page.author].uri }}",
        "image": "https://s.gravatar.com/avatar/{{ site.authors[page.author].gravatar }}"
    }
}
</script>
