---
layout: default
---

<section class="category-archive">

    <div class="category-header">
        <h1>Posts in category
        {% if site.sections[page.category] %}
            {{ site.sections[page.category] }}
        {% else %}
            {{ page.category | capitalize }}
        {% endif %}
        </h1>
    </div>

    <div class="posts">
    {% for post in site.categories[page.category] %}
    <div class="post-teaser">
      <header>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
            {{ post.title }}
          </a>
        </h2>
        <div class="post-meta">
            <i class="fa fa-calendar" aria-hidden="true"></i>
            <time class="entry-published updated" datetime="{{ post.date | date: "%Y-%m-%dT%H:%M:%S%z" }}" itemprop="datePublished" title="{{ post.date | date: "%A, %B %e, %Y" }}">{{ post.date | date: "%B %-d, %Y" }}</time>.
            {% if post.categories %}
            <wbr>
            <a class="post-category" href="{{ post.category | prepend: '/category/' | prepend: site.baseurl }}"><i class="fa fa-folder" aria-hidden="true"></i>{% if site.sections[post.category] %}{{ site.sections[post.category] }}{% else %}{{ post.category | capitalize}}{% endif %}</a>
            <wbr>
            {% endif %}
        </div>
      </header>
      <div class="excerpt">
        {{ post.excerpt }}
        <a class="button" href="{{ post.url | prepend: site.baseurl }}">
          {{ site.theme_settings.str_continue_reading }}
        </a>
      </div>
    </div>
    {% endfor %}
  </div>

</section>
