---
layout: default
---
<article {% if page.feature-img %}class="feature-image"{% endif %}>
  <header style="background-image: url('{{ site.baseurl }}/{{ page.feature-img }}')">
    <h1 class="title">{{ page.title }}</h1>
    <div class="post-meta">
        <span class="visually-hidden-mobile">Written by</span> <span class="entry-author" itemprop="author" itemscope="itemscope" itemtype="http://schema.org/Person"><a href="{{ site.authors[page.author].uri }}" title="Posts by {{ site.authors[page.author].name }}" rel="author" class="url fn n" itemprop="url">
        {% if site.authors[page.author].gravatar %}
        <img itemprop="image" class="img-circle meta-author-image" width="40" height="40" src="https://s.gravatar.com/avatar/{{ site.authors[page.author].gravatar }}">
        {% endif %}
        <span itemprop="name">{{ site.authors[page.author].name }}</span></a></span>
        on
        <time class="entry-published updated" datetime="{{ page.date | date: "%Y-%m-%dT%H:%M:%S%z" }}" itemprop="datePublished" title="{{ page.date | date: "%A, %B %e, %Y" }}">{{ page.date | date: "%B %-d, %Y" }}</time><span class="visually-hidden-mobile">.</span>
        {% if page.tags %}
        <p class="description"> <span class="visually-hidden-mobile">This article is</span> about
        {% for tag in page.tags %}{% if forloop.first %}<strong>{{tag}}</strong>{% elsif forloop.last %} and <strong>{{tag}}</strong>{% else %}, <strong>{{tag}}</strong>{% endif %}{% endfor %}.
        </p>
        {% endif %}
    </div>
  </header>
  <section class="post-content">{{ content }}</section>
</article>

<!-- Post navigation -->
{% if site.theme_settings.post_navigation %}
<div id="post-nav">
    {% if page.previous.url %}
    <a id="prev-post" href="{{ site.baseurl }}{{ page.previous.url }}">
      <span class="page-title">{{ page.previous.title }}</span>
      <span class="nav-label">
        <i class="fa fa-chevron-left"></i> {{ site.theme_settings.str_prev }}
      </span>
    </a>
    {% endif %}
    {% if page.next.url %}
    <a id="next-post" href="{{ site.baseurl }}{{ page.next.url }}">
       <span class="page-title">{{ page.next.title }}</span>
       <span class="nav-label">
        {{ site.theme_settings.str_next }} <i class="fa fa-chevron-right"></i>
       </span>
     </a>
    {% endif %}
</div>
{% endif %}

<!-- Disqus -->
{% if site.theme_settings.disqus_shortname %}
<div class="comments">
  {% include disqus.html %}
</div>
{% endif %}

<!-- Muut -->
{% if site.theme_settings.muut_community_name %}
<div class="comments">
  {% include muut.html %}
</div>
{% endif %}
